@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);

@font-face {
	font-family: "EvelethW01-Bold";
	src: url(//db.onlinewebfonts.com/t/c8fc491cecc0c3c930e52c7bba9ccd32.eot);
	src:
		url(//db.onlinewebfonts.com/t/c8fc491cecc0c3c930e52c7bba9ccd32.eot?#iefix) format("embedded-opentype"),
		url(//db.onlinewebfonts.com/t/c8fc491cecc0c3c930e52c7bba9ccd32.woff2) format("woff2"),
		url(//db.onlinewebfonts.com/t/c8fc491cecc0c3c930e52c7bba9ccd32.woff) format("woff"),
		url(//db.onlinewebfonts.com/t/c8fc491cecc0c3c930e52c7bba9ccd32.ttf) format("truetype"),
		url(//db.onlinewebfonts.com/t/c8fc491cecc0c3c930e52c7bba9ccd32.svg#EvelethW01-Bold) format("svg");
}

//font family
$google_popins: "Poppins", sans-serif;
$font_eveleth: "EvelethW01-Bold";

