@import "./normalize.external";
@import "./variables";
@import "./fonts.config";

$bracketForm: ".bracketForm";

#{$bracketForm} {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url('../../images/BG.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&_wrapper {
		width: 100%;
		max-width: 37.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 9.5rem 2.6rem 7.1rem;
	}

	&_header {
		color: $color_gold;
		width: 100%;
		max-width: 25.4rem;
		text-align: center;
	}

	&_heading {
		position: relative;
		font-family: $font_eveleth;
		font-size: 4rem;
		line-height: 46px;

		&::after {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -2.7rem;
			content: "";
			background-image: url($logo_arch);
			background-repeat: no-repeat;
			width: 5.2rem;
			height: 2.7rem;

			@media (min-width: $phone-sm) {
				transform: translate(0);
				left: 2.5rem;
			}
		}
	}

	&_textContent {
		margin-top: 4.1rem;
		font-family: $google_popins;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 30px;
		color: $color_font-primary;
		text-align: center;

		&Span {
			text-transform: uppercase;
		}
	}

	&_form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	&_inputGroup {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 3.9rem;
	}

	&_formInput {
		border: 0.1rem solid $color_border;
		border-radius: 0.4rem;
		padding: 2.1rem 1.6rem 1.9rem;
		background-color: $color-white;
		width: 100%;
		font-family: $google_popins;
		top: 0;
		left: 0;
		font-size: 1.4rem;
		letter-spacing: -0.016rem;
		color: $color_font-secondary;
	}

	&_formLabel {
		opacity: 0;
	}

	&_formResponse {
		width: 100%;
		text-align: center;
		font-size: 1.6rem;
		line-height: 38px;
		font-family: $google_popins;
		color: $color_font-primary;
		min-height: 3.8rem;
	}

	&_formButton {
		font-family: $google_popins;
		text-transform: uppercase;
		border: none;
		font-weight: 600;
		width: 100%;
		font-size: 1.6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.8rem 0;
		background-color: $color_gold;
		color: $color_white;
		border-radius: 8rem;
		outline: none;
		cursor: pointer;
		transition: filter 0.3s ease-in;

		&:hover {
			filter: grayscale(0.5);
		}
	}

	&_footer {
		margin-top: 2.6rem;
		font-family: $google_popins;
		font-size: 1.2rem;
		line-height: 16px;
		text-align: center;

		&Text {
			color: $color_font-secondary;
		}

		&Link {

			font-size: 1.2rem;
			color: $color_gold;

			&:visited,
			&:link {
				color: $color_gold;
			}

			&:hover {
				color: $color_font-secondary;
			}
		}
	}
}

